---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import experiencieYears from '../utils/experiencieYears';

const { pageTitle } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={`Web portfolio. Desarrollador multiplataforma Full Stack con +${experiencieYears} años de experiencia`} />
		<meta name='description' lang="ca" content={`Web portfolio. Desenvolupador multiplataforma Full Stack amb +${experiencieYears} anys d'experiencia`} />
		<meta name='description' lang="en" content={`Web portfolio. Full Stack multiplatform developer with +${experiencieYears} years experiencie`} />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<link rel="preload" href="/fonts/inter-variable.woff2" as="font" type="font/woff2" crossorigin>
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='alternate' hreflang='x-default' href='https://denis-anfruns.dev/' />
		<title>{pageTitle}</title>
		<script>
			const theme = localStorage.getItem('theme');
			document.documentElement.classList.toggle('dark', theme === 'dark');
		</script>
	</head>
	<body class="flex flex-col min-h-screen">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>