---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

Astro.response.headers.set('X-Frame-Options', 'DENY');
Astro.response.headers.set('X-Content-Type-Options', 'nosniff');
Astro.response.headers.set('Strict-Transport-Security', 'max-age=31536000; includeSubDomains');
Astro.response.headers.set('Referrer-Policy', 'strict-origin-when-cross-origin');
Astro.response.headers.set('X-XSS-Protection', '1; mode=block');
Astro.response.headers.set('Content-Security-Policy', 
  "default-src 'none'; " +
  "script-src 'self' 'unsafe-inline'; " +
  "object-src 'none'; " +
  "base-uri 'self'; " +
  "frame-src 'self'; " +
  "frame-ancestors 'none'; " +
	"form-action 'none'; "
);

const { pageTitle, expYears } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={`Web portfolio. Desarrollador multiplataforma Full Stack con +${expYears} años de experiencia`} />
		<meta name='description' lang="ca" content={`Web portfolio. Desenvolupador multiplataforma Full Stack amb +${expYears} anys d'experiencia`} />
		<meta name='description' lang="en" content={`Web portfolio. Full Stack multiplatform developer with +${expYears} years experiencie`} />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='alternate' hreflang='x-default' href='https://denis-anfruns.dev/' />
		<title>{pageTitle}</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<Nav />
		<slot />
		<Footer />
	</body>

	<script>
		let theme = (() => {
			if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
				return localStorage.getItem('theme');
			}
			return 'dark';
		})();

		document.addEventListener('DOMContentLoaded', () => {
			theme = localStorage.getItem('theme')
			document.documentElement.classList.toggle('dark', theme === 'dark')
		})
	</script>
</html>