---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import experiencieYears from '../utils/experiencieYears';

interface Props {
	siteTitle: string;
	lang?: string;
    description?: string;
    image?: string;
}

const { siteTitle, lang = 'es', description, image } = Astro.props;
const defaultDescription = `Desarrollador multiplataforma Full Stack con +${experiencieYears()} años de experiencia. ¡Mira mis proyectos! 👀✨`;
const formattedTitle = `Denis A. M. Portfolio - ${siteTitle}`;
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<BaseHead title={formattedTitle} description={description || defaultDescription} image={image} />
	</head>
	<body class='flex flex-col min-h-screen' >
		<main>
			<slot />
		</main>
		<Footer lang={lang as any} />
	</body>
</html>