---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import experiencieYears from '../utils/experiencieYears';

const { siteTitle } = Astro.props
const url = "https://denis-anfruns.dev";
const description = `Denis Anfruns Mill치n - Web portfolio. Desarrollador multiplataforma Full Stack con +${experiencieYears()} a침os de experiencia`;
const image = `${url}/denis-anfruns-millan.png`;
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<title>{siteTitle}</title>

		<!-- Descripci칩n SEO -->
  	<meta name="description" content={description} />

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="player" />
		<meta name="twitter:title" content={siteTitle} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />
		<meta name="twitter:image:width" content="1200" />
		<meta name="twitter:image:height" content="630" />
		<meta name="twitter:player" content={url} />

		<!-- Open Graph -->
		<meta property="og:locale" content="es_ES" />
		<meta property="og:title" content={siteTitle} />
		<meta property="og:image" content={image} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:alt" content="Vista previa de Denis Anfruns Mill치n - Web portfolio" />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />
	 	<!-- <meta property="og:site_name" content="denis-anfruns.dev" /> -->

		<!-- <meta name='description' lang='ca' content={`Web portfolio. Desenvolupador multiplataforma Full Stack amb +${years} anys d'experiencia`} />
		<meta name='description' lang='en' content={`Web portfolio. Full Stack multiplatform developer with +${years} years experiencie`} /> -->
		<meta name='generator' content={Astro.generator} />

    <!-- Preload fonts -->
    <link rel="preload" href="/fonts/inter-variable.woff2" as="font" type="font/woff2" crossorigin />

		<!-- Icon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Alternate / multilenguaje -->
    <link rel="alternate" hreflang="x-default" href="https://denis-anfruns.dev/" />
		<script>
			const theme = localStorage.getItem('theme');
			document.documentElement.classList.toggle('dark', theme === 'dark');
		</script>
	</head>
	<body class='flex flex-col min-h-screen'>
		<Nav />
		<slot />
		<Footer />
	</body>
</html>