---
import Nav from '../components/Nav.astro';
import Cookies from '../components/Cookies.astro';
import CookieNoticeModal from '../components/CookieNoticeModal.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle, expYears } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={`Web portfolio. Desarrollador multiplataforma Full Stack con +${expYears} años de experiencia`} />
		<meta name='description' lang="ca" content={`Web portfolio. Desenvolupador multiplataforma Full Stack amb +${expYears} anys d'experiencia`} />
		<meta name='description' lang="en" content={`Web portfolio. Full Stack multiplatform developer with +${expYears} years experiencie`} />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='alternate' hreflang='x-default' href='https://denis-anfruns.dev/' />
		<title>{pageTitle}</title>
		<script is:inline>
			theme = localStorage.getItem('theme');
			document.documentElement.classList.toggle('dark', theme === 'dark');
		</script>
	</head>
	<body class="flex flex-col min-h-screen">
		<Nav />
		<slot />
		<CookieNoticeModal />
		<Cookies />
		<Footer />
	</body>
</html>