---
import BaseHead from '../components/layout/BaseHead.astro'
import Footer from '../components/layout/Footer.astro'
import experiencieYears from '../utils/experiencieYears'
import type { Lang } from '../i18n/ui'
import type { Lang } from '../i18n/ui'

interface Props {
	siteTitle: string
	lang?: string
	description?: string
	image?: string
	robots?: string
}

const { siteTitle, lang = 'es', description, image, robots } = Astro.props
const defaultDescription = `Desarrollador multiplataforma Full Stack con +${experiencieYears()} años de experiencia. ¡Mira mis proyectos! 👀✨`
const formattedTitle = siteTitle.includes(`Denis`)
	? siteTitle
	: `Denis A. M. Portfolio - ${siteTitle}`
---

<!doctype html>
<html lang={lang}>
	<head>
		<!-- Theme Script (Inline & Blocking to prevent FOUC) -->
		<script is:inline data-astro-rerun>
			;(function () {
				const theme = localStorage.getItem('theme')
				const systemDark = window.matchMedia('(prefers-color-scheme: dark)').matches

				if (theme === 'dark' || (!theme && systemDark)) {
					document.documentElement.classList.add('dark')
					document.documentElement.style.colorScheme = 'dark'
				} else {
					document.documentElement.classList.remove('dark')
					document.documentElement.style.colorScheme = 'light'
				}
				
				// Keep theme state during View Transition
				document.addEventListener('astro:before-swap', (ev) => {
					ev.newDocument.documentElement.classList.add(...document.documentElement.classList)
					ev.newDocument.documentElement.style.colorScheme = document.documentElement.style.colorScheme
				})
			})()
		</script>
		<BaseHead
			title={formattedTitle}
			description={description || defaultDescription}
			image={image}
			description={description || defaultDescription}
			image={image}
			robots={robots}
		/>
	</head>
	<body class="flex min-h-screen flex-col bg-stone-200 dark:bg-zinc-950">
		<!-- GBackground de puntos -->
		<div class="bg-grid fixed inset-0 -z-10 size-full"></div>
		<main>
			<slot />
		</main>
		<Footer lang={lang as Lang} />
	</body>
</html>
