---
interface Props {
	text: string
	link: string
	enabled?: boolean
	active?: boolean
}
const { text, link, enabled = true, active = false } = Astro.props

const baseClasses =
	'm-2 py-3 px-4 text-sm md:text-lg rounded-lg inline-block transition-colors no-underline leading-normal'
---

{
	active ? (
		<a
			href={link}
			class={`${baseClasses} text-zinc-700 md:hover:bg-[#D4D4D8] md:dark:hover:bg-[#52525B] dark:text-zinc-200`}
			aria-current="page"
		>
			{text}
		</a>
	) : enabled ? (
		<a
			href={link}
			class={`${baseClasses} text-zinc-700 md:hover:bg-[#D4D4D8] md:dark:hover:bg-[#52525B] dark:text-zinc-200`}
		>
			{text}
		</a>
	) : (
		<span class={`${baseClasses} cursor-default text-gray-400`} aria-disabled="true">
			{text}
		</span>
	)
}
